.add-user-input {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
  color: rgb(7, 42, 71);
  padding: 2px;
  margin-right: 5px;
  margin-top: 20px;
}

.add-user-button {
  background-color: rgb(34, 216, 58);
  color: aliceblue;
}
